@import 'default';

.wrapper {
  // @include flex-column;
  min-height: 100%;
  overflow: hidden;
  // background-color: var(--color-background);
  // transition: background-color 200ms linear;
  // font-family: 'Roboto Slab', serif;
  // a {
  //   font-family: 'Roboto Slab', serif;
  // }
}

// ._container {
//   margin: 0 4% 0 4%;
//   width: 92%;
// }

.body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #112d49;
  height: 1000px;
  .section {
    margin: 2% 0;
  }
  color: white;
}
button {
  margin-left: 20px;
  height: 50px;
  cursor: pointer;
  background-color: beige;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(240, 240, 155);
}
.mapContainer {
  width: 100%;
}

.dropdown {
  margin: 2% 0;
  width: 100%;
  input {
    width: 30%;
    height: 30px;
    font-size: 1.3rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
  }
}
datalist {
  width: 30%;
}
option {
  background-color: red;
}
label {
  color: white;
}
